/* - Global - */
body, section{
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: auto;
    text-align: center;
}
.tab-heading{
    padding-top: 5%;    
    padding-bottom: 5%;    
    text-align: center;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #f05f40;
    display: block;
}
/* - Navbar - */
.heading{
    text-align: center;
    display: block;
}

.header-content {
    padding: 250 50px;
    text-align: center;
    color: rgba(255, 184, 37,1);

}
.footer{
padding: 1em;    
}
.link-to-acc{
    padding-right: 10px;

}
div.section {
    width: 100%;
    max-height: 500px;
    height: auto;
    
}
.section-header{
    position: relative;
}

.logo{
    background: none;
    padding: 1em;
    margin: auto;
    z-index: 1;
}
#evr-logo{
    width: auto;
    height: 25%;
    
}
.home {
    position: relative;
    width: auto;
    height: 100%;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
} 
/* news */
.carousel-slide{
    left: auto;
}
.news {
    height: 75%;
} 

.research{}
.gallary{}
.about-us{
    min-height: 72%;
    display: block;
    text-align: center;
}
.contact-us{
    height: 75%;
}
section.alt{
    background: linear-gradient(rgba(255, 184, 37,1),rgba(255, 184, 37,0.8))
    
}
span.fa{
    font-size: 25px;
    padding: 2px;
    
}
span.fa-facebook{
    
}
span.fa-twitter{
    
}
span.fa-instagram{
    
}
span.fa-youtube{
    
}
/* news */
#news-carousel{
    margin: auto;
}

.news-div{
    height: auto;
}
.news-image{
    height: 100%;
}
.news-content{
    min-height: 500px;
}
/* About us */
.i-about-us{
    width: 100%;
    max-height: 200px;
    //border-radius: 100px;
    border-radius: 50%    ;
}

.d-about-us{
    min-height:250px;
    width:200px;    
    border: none !important;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    margin: auto;
}

.b-contact{
    color: white;
    background: linear-gradient(rgba(255, 184, 37,1),rgba(255, 184, 37,0.8));
}

.d-news{
    height:250px;
    width:200px;    
    background: linear-gradient(to bottom, rgb(52, 152, 219), rgb(4, 114, 93));
}

/* contact-us */

.feedback-form{
    border: none;
    text-align: center;
}
.form-control:hover{
    box-shadow: 2px 2px #53500c36;

}
#name{
    display: inline;
}
#contact{
    display: inline;
}
#email{
    display: inline;
}
#feedback{
    display: inline;
}

